@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Press+Start+2P&display=swap');

.home {
    height: 100vh;
    width: 100vw;
    background-image: url('/images/kanto.png');
    background-repeat: no-repeat;
    background-color: #1B7EC9;
}

.title-container {
    float: right;
    padding-right: 20px;
}

.title {
    font-family: 'Press Start 2P', sans-serif;
}

.subtitle {
    font-family: 'Nanum Brush Script', sans-serif;
}

.Grace-visible {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 120px;
    top: 140px;
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(255,0,0,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 52%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 100%);
    border-radius: 50%;
    padding: 20px;
}

.Halmai-visible {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 120px;
    top: 350px;
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(255,0,0,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 52%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 100%);
    border-radius: 50%;
    padding: 20px;
}

.Lawrence-visible {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 340px;
    top: 200px;
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(255,0,0,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 52%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 100%);
    border-radius: 50%;
    padding: 20px;
}

.Cat-visible {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 550px;
    top: 200px;
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(255,0,0,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 52%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 100%);
    border-radius: 50%;
    padding: 20px;
}

.Braden-visible {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 420px;
    top: 290px;
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(255,0,0,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 52%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 100%);
    border-radius: 50%;
    padding: 20px;
}

.Justine-visible {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 360px;
    top: 400px;
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(255,0,0,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 52%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 100%);
    border-radius: 50%;
    padding: 20px;
}

.Grace-hidden {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 175px;
    top: 205px;
}

.Justine-hidden {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 425px;
    top: 460px;
}

.Braden-hidden {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 485px;
    top: 365px;
}

.Cat-hidden {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 610px;
    top: 270px;
}

.Halmai-hidden {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 175px;
    top: 425px;
}

.Lawrence-hidden {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 395px;
    top: 270px;
}