@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Press+Start+2P&display=swap');

body {
    margin: 0;
}
.home {
    height: 100vh;
    width: 100vw;
    background-image: url('/images/kanto.png');
    background-repeat: no-repeat;
    background-color: #1B7EC9;

}

.title-container {
    float: right;
    padding-right: 20px;
}

.title {
    font-family: 'Press Start 2P', sans-serif;
}

.subtitle {
    font-family: 'Nanum Brush Script', sans-serif;
}

.Grace-visible {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 120px;
    top: 140px;
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(255,0,0,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 52%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 100%);
    border-radius: 50%;
    padding: 20px;
}

.Halmai-visible {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 120px;
    top: 350px;
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(255,0,0,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 52%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 100%);
    border-radius: 50%;
    padding: 20px;
}

.Lawrence-visible {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 340px;
    top: 200px;
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(255,0,0,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 52%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 100%);
    border-radius: 50%;
    padding: 20px;
}

.Cat-visible {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 550px;
    top: 200px;
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(255,0,0,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 52%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 100%);
    border-radius: 50%;
    padding: 20px;
}

.Braden-visible {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 420px;
    top: 290px;
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(255,0,0,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 52%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 100%);
    border-radius: 50%;
    padding: 20px;
}

.Justine-visible {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 360px;
    top: 400px;
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(255,0,0,1) 47%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 52%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 100%);
    border-radius: 50%;
    padding: 20px;
}

.Grace-hidden {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 175px;
    top: 205px;
}

.Justine-hidden {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 425px;
    top: 460px;
}

.Braden-hidden {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 485px;
    top: 365px;
}

.Cat-hidden {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 610px;
    top: 270px;
}

.Halmai-hidden {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 175px;
    top: 425px;
}

.Lawrence-hidden {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 395px;
    top: 270px;
}

.poke-container {
    width: 90%;
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: rgb(255, 126, 126);
    border-radius: 18px;
}

.pokemon-card { 
    text-align: left;
}

.trainer {
    margin-top: 30px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(125, 240, 125);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
}

.trainer h2 {
    margin-top: 30px;
}

.img_poke {
    height: 100px;
    width: auto;
}
button {
    background-color: #f98b6d; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }